@import "tailwindcss";

@font-face {
    font-family: "Brevia";
    src: url("../fonts/Brevia-BlackItalic.ttf");
}

@font-face {
    font-family: "Rooney";
    src: url("../fonts/RooneyPro-Regular.ttf");
}

.text-brevia {
    font-family: "Brevia" !important;
}

.text-rooney {
    font-family: "Rooney";
}

* {
    font-family: "Rooney";
}

.bg-banner-img {
    background-image: url("../assets/images/banner-home.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}