---
import AButtonSecondary from "../components/atoms/AButtons/AButtonSecondary.astro";
import HighlightCamper from "../components/molecules/HighlightCamper.astro";
import LayoutPage from "../layouts/LayoutPage.astro";
import IconVan from "../assets/icons/icon-van.svg";
import IconPet from "../assets/icons/icon-pet.svg";
import IconSaw from "../assets/icons/icon-saw.svg";
import Questions from "../components/molecules/Questions.astro";

import "../styles/global.css";
---

<LayoutPage title="Hey Camper" indexMenu={0}>
	<div class="h-[280px] md:h-[420px]">
		<div
			class="w-[100dvw] h-[300px] md:h-[420px] text-white absolute flex justify-center left-0 bg-banner-img"
		>
			<div
				class="max-w-[1200px] w-full md:p-[50px] px-[15px] py-[40px] z-5 flex flex-col justify-center"
			>
				<span class="text-brevia text-[30px] md:text-[40px]">
					Alquila tu Camper en Mallorca
				</span>

				<span class="opacity-75 text-[16px] mt-[10px]">
					La mejor manera de viajar y dormir en Mallorca
				</span>

				<AButtonSecondary label="Alquila desde 75€/día" link="" />
			</div>
			<div class="bg-black opacity-25 w-full h-full absolute"></div>
		</div>
	</div>

	<HighlightCamper />

	<div class="h-[270px] md:h-[270px]">
		<div
			class="w-[100dvw] h-[270px] md:h-[270px] text-white absolute flex justify-center left-0 bg-[#F5F5F5]"
		>
			<div
				class="max-w-[1200px] w-full md:p-[50px] px-[15px] py-[40px] flex flex-row justify-between gap-x-10 overflow-x-scroll"
			>
				<div class="flex flex-col justify-center items-center gap-y-5">
					<IconVan class="w-[100px] h-[100px]" />
					<span
						class="text-brevia text-[#8FB990] text-[18px] text-nowrap"
					>
						Furgonetas Camperizadas
					</span>
				</div>

				<div class="flex flex-col justify-center items-center gap-y-5">
					<IconSaw class="w-[100px] h-[100px]" />
					<span
						class="text-brevia text-[#8FB990] text-[18px] text-nowrap"
					>
						Camper Artesanas
					</span>
				</div>

				<div class="flex flex-col justify-center items-center gap-y-5">
					<IconPet class="w-[100px] h-[100px]" />
					<span
						class="text-brevia text-[#8FB990] text-[18px] text-nowrap"
					>
						Mascotas Permitidas
					</span>
				</div>
			</div>
		</div>
	</div>

	<div class="flex flex-col items-center my-10">
		<div class="md:w-[70%] w-full mb-5 border-[#F5F5F5] border-b-[1px]">
			<div class="w-full flex flex-col p-5 mb-5">
				<span class="text-brevia text-[#8FB990] text-[40px] mb-5">
					Seguro
				</span>
				<p class="text-[#747474]">
					El alquiler incluye un seguro a terceros que proporciona
					cobertura de asistencia en carretera, rotura de lunas,
					defensa jurídica, responsabilidad civil obligatoria y
					reclamación de daños. Para formalizar el alquiler, será
					necesario dejar una fianza de 900 €, que se retendrá como
					garantía durante el periodo de uso y será reembolsada una
					vez devuelto el vehículo en las condiciones acordadas.
				</p>
			</div>

			<img
				src="/public/images/insurance-camper.webp"
				alt="Insurance Hey Camper"
				class="h-[300px] w-full object-cover px-10 mb-3"
			/>
		</div>

		<div class="md:w-[70%] w-full mb-5 border-[#F5F5F5] border-b-[1px]">
			<div class="w-full flex flex-col p-5 mb-5">
				<span class="text-brevia text-[#8FB990] text-[40px] mb-5">
					Ubicación de Recogida
				</span>
				<p class="text-[#747474]">
					La ubicación de recogida por defecto será en Bahia Grande,
					Llucmajor. En caso de querer una recogida en el Aeropuerto o
					en el Puerto de Palma. Se puede pedir como un servicio extra
					de 20€. Se debera solicitar antes de realizar la reserva o
					en los comentarios de la reserva (Es posible que no haya
					disponibilidad)
				</p>
			</div>

			<img
				src="/public/images/give-camper.webp"
				alt="Give Hey Camper"
				class="h-[300px] w-full object-cover px-10 mb-3"
			/>
		</div>

		<div class="md:w-[70%] w-full mb-5">
			<div class="w-full flex flex-col p-5 mb-5">
				<span class="text-brevia text-[#8FB990] text-[40px] mb-5">
					Horario
				</span>
				<p class="text-[#747474]">
					El horario de recogida y entrega es desde las 10:00h hasta
					las 22:00h. En caso de emergencia o consulta esta abierto
					las 24 horas del día.
				</p>
			</div>

			<img
				src="/public/images/time-camper.webp"
				alt="Time Hey Camper"
				class="h-[300px] w-full object-cover px-10 mb-3"
			/>
		</div>
	</div>

	<Questions />
</LayoutPage>
