---
import LayoutPage from "../layouts/LayoutPage.astro";
import "../styles/global.css";
---

<LayoutPage title="Hey Camper" indexMenu={1}>
	<div class="w-full bg-black text-white">AAA</div>
</LayoutPage>
