---
import "../../styles/features.css";
---

<div class="container-cara">
    <div class="body-cara">
        <span>Características</span>

        <div class="element b-buttom">
            <div>Edad Mínima</div>
            <div>25</div>
        </div>

        <div class="element b-buttom">
            <div>Carnet necesario</div>
            <div>B</div>
        </div>

        <div class="element b-buttom">
            <div>Máximo Número de Ocupantes</div>
            <div>3</div>
        </div>

        <div class="element b-buttom">
            <div>Máximo Número de Mascotas</div>
            <div>3</div>
        </div>

        <div class="element b-buttom">
            <div>Kilometraje Máximo</div>
            <div>Ilimitado</div>
        </div>

        <div class="element b-buttom">
            <div>Seguro Incluído</div>
            <div>Si</div>
        </div>

        <div class="element">
            <div>Aire Acondicionado</div>
            <div>Si</div>
        </div>
    </div>
</div>
