---
import "../../styles/gallery.css";
---

<div class="product-gallery">
    <!-- Imagen principal -->
    <div class="main-image">
        <img
            id="currentImage"
            src="/public/images/camper-1.webp"
            alt="Producto"
        />
    </div>

    <!-- Miniaturas -->
    <div class="thumbnails p-2">
        <img
            src="/public/images/camper-1.webp"
            alt="Hey Camper - Adventure 1"
            class="thumb active"
        />
        <img
            src="/public/images/camper-2.webp"
            alt="Hey Camper - Adventure 2"
            class="thumb"
        />
        <img
            src="/public/images/camper-3.webp"
            alt="Hey Camper - Adventure 3"
            class="thumb"
        />
        <img
            src="/public/images/camper-4.webp"
            alt="Hey Camper - Adventure 4"
            class="thumb"
        />
        <img
            src="/public/images/camper-5.webp"
            alt="Hey Camper - Adventure 5"
            class="thumb"
        />
        <img
            src="/public/images/camper-6.webp"
            alt="Hey Camper - Adventure 6"
            class="thumb"
        />
        <img
            src="/public/images/camper-7.webp"
            alt="Hey Camper - Adventure 7"
            class="thumb"
        />
        <img
            src="/public/images/camper-8.webp"
            alt="Hey Camper - Adventure 8"
            class="thumb"
        />
    </div>

    <script is:inline>
        const currentImage = document.getElementById("currentImage");
        const thumbnails = document.querySelectorAll(".thumb");

        thumbnails.forEach((thumb) => {
            thumb.addEventListener("click", () => {
                currentImage.src = thumb.src.replace("100x100", "500x500");
                thumbnails.forEach((t) => t.classList.remove("active"));
                thumb.classList.add("active");
            });
        });
    </script>
</div>
